/* .main {
    position: relative;
}

.sub {
    position: relative;
    overflow-y: auto; 
  
}

.side {
    position: sticky;
    top: 0; 
    left: 50%;
    height: 100%; 
    background-color: #ffa51f;
    z-index: 2; 
} */